.nav{
  width: 100vw;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #00000057;

  .container{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}


.side{
  background: #7d7d7d;
  height: calc(100vh - 70px);
  width: 400px;
}